{
  "extends": [
    "@kembec/eslint-config/typescript",
    "plugin:astro/base"
  ],
  "overrides": [
    {
      "files": [
        "*.astro"
      ],
      "parser": "astro-eslint-parser",
      "parserOptions": {
        "parser": "@typescript-eslint/parser",
        "extraFileExtensions": [
          ".astro"
        ]
      }
    },
    {
      "files": [
        "*.ts",
        "*.tsx"
      ],
      "parser": "@typescript-eslint/parser"
    }
  ],
  "plugins": [
    "astro"
  ],
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  }
}
